@import './../../../sass/abstracts/vars.scss';

.products {
text-align: center;
 }





.none {
  display: none;
}

.mySwiper {
  --swiper-navigation-size: 30px;
  --swiper-theme-color: $primary;
}

.slid {
  width: 270px;
}

.slider {
  // display: grid;
  // gap: 40px;
  // grid-template-columns: repeat(auto-fill, 270px);



  // :global(.swiper-container-horizontal>.swiper-pagination-bullets) {
  //   bottom: 40px;
  // }

  // :global(.swiper-container) {
  //   overflow: visible;
  // }

  :global(.swiper-wrapper) {
text-align: center;
  }

  :global(.swiper-button-next) {
    right: -5px;
  }

  :global(.swiper-button-prev) {
    left: -5px;
  }











}

