@import './../../../sass/abstracts/vars.scss';

.products {
text-align: left;
 }

.slider {

  :global(.slick-prev) {
    width: 20px;
    height: 30px;
    top: 50%;
    left: -40px;
  }

  :global(.slick-next) {
    width: 20px;
    height: 30px;
    top: 50%;
    right: -40px;
  }

  :global(.slick-list) {
      padding: 15px;
      margin: -15px;
  }



}


