@import './../../../sass/abstracts/vars.scss';

.products {
text-align: left;
 }

.slider {

  min-width: 1200px;
  transform: translateX(-15px);

  :global(.slick-prev) {
    width: 20px;
    height: 30px;
    top: 50%;
    left: -20px;
  }

  :global(.slick-next) {
    width: 20px;
    height: 30px;
    top: 50%;
    right: -20px;
  }

}


