@import "./src/sass/abstracts/vars";

.carditem {
  display: flex;
  flex-direction: column;
  position: relative;
}

.title{
  color: #1C62CD;
  font-family: SFProDisplay, sans-serif;
  font-weight: normal;
  font-size: 15px;
  margin-left: auto;
  margin-right: auto;
}
.priceOld {
  display: block;
  position: relative;
  text-align: center;
  font-family: Barlow, sans-serif;
  font-size: 36px;
  color: $lightText;

  &::before {
    content: "";
    position: absolute;
    width: 160px;
    top: 16px;
    border: 0.5px solid #C4C4C4;
    transform: rotate( -5.33deg );

  }
}

.ruble {
  width: 8px;
}