@import './../../sass/abstracts/vars.scss';


.price {
    font-family: Barlow;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    color: $primary;

    &:hover {
        color: $accent;
    }
}