.item {
    border-bottom: 1px solid #2f303510;
    font-size: 20px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 100px;
    font-size: 20px;
    font-family: SFProDisplay;
    font-weight: 400;
    
}
.item:first-child {
    padding-left: 0;
    
}