// BARLOW
@font-face {
    font-family: 'Barlow';
    src:  url('../assets/fonts/Barlow/Barlow-Bold.woff') format('woff');
    font-weight:700;
  };
  
  @font-face {
    font-family: 'Barlow';
    src:  url('../assets/fonts/Barlow/Barlow-SemiBold.woff') format('woff');
    font-weight: 600;
  }
  @font-face {
    font-family: 'Barlow';
    src:  url('../assets/fonts/Barlow/Barlow-Regular.woff') format('woff');
    font-weight:400;
  }

  // ProximaNova
  @font-face {
    font-family: 'ProximaNova';
    src:  url('../assets/fonts/ProximaNova/ProximaNova-Bold.woff') format('woff');
    font-weight: 700;
  }
  @font-face {
    font-family: 'ProximaNova';
    src:  url('../assets/fonts/ProximaNova/ProximaNova-Semibold.woff') format('woff');
    font-weight: 600;
  }
// SFProDisplay


@font-face {
  font-family: 'SFProDisplay';
  src:  url('../assets/fonts/SFProDisplay/SFProDisplay-Bold.woff') format('woff');
  font-weight: 700;
}

@font-face {
  font-family: 'SFProDisplay';
  src:  url('../assets/fonts/SFProDisplay/SFProDisplay-Semibold.woff') format('woff');
  font-weight: 600;
}
@font-face {
  font-family: 'SFProDisplay';
  src:  url('../assets/fonts/SFProDisplay/SFProDisplay-Medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: 'SFProDisplay';
  src:  url('../assets/fonts/SFProDisplay/SFProDisplay-Regular.woff') format('woff');
  font-weight: 400;
}




