@font-face {
    font-family: 'Barlow-Bold';
    src:  url('../assets/fonts/Barlow/Barlow-Bold.woff') format('woff');
  };
  
@font-face {
    font-family: 'Barlow-Regular';
    src:  url('../assets/fonts/Barlow/Barlow-Regular.woff') format('woff');
  }
  @font-face {
    font-family: 'Barlow-SemiBold';
    src:  url('../assets/fonts/Barlow/Barlow-SemiBold.woff') format('woff');
  }
