@mixin flex($flex-direction: row, $align-items: center, $justifyContent: space-between) {
    display: flex;
    flex-direction: $flex-direction;
    align-items: $align-items;
    justify-content: $justifyContent;
}