.main {
  text-align: center;
}

.mainPromo {
  display: flex;
  justify-content: space-between;
}

.mainBanner {
  position: relative;
}

.mainPromoTitle {
  position: absolute;
  top: 40%;
  left: 50%;
}



.mainRadioBtns input[type=radio] {
  display: none;
}

.mainRadioBtns label {
  display: inline-block;

  cursor: pointer;
  padding: 0px 15px;
  margin-bottom: 15px;
  line-height: 34px;
  border: 1px solid #999;
  border-radius: 5px;
}

.mainRadioBtns input[type=radio]:checked+label {
  background-color: #F0F0F4;
}

.mainCatalog {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, 370px)
}


.mainShowBtn {
  width: 250px;
  height: 50px;
}

.banner {
  display: flex;
  justify-content: space-between;

  width: 100%;

 background-color: #1C62CD;
}

.bannerUtv {
  transform: rotateY(180deg);
}


