@import './../../sass/abstracts/vars.scss';
@import './../../sass/abstracts/mixs.scss';

.main {
  padding: 95px 0;

  text-align: left;
}

.promo {
  @include flex();

  padding-bottom: 85px;
}


.showBtn {
  display: block;

  padding: 15px 45px;
  margin: 35px auto 85px;

  width: 250px;
  height: 50px;

  font-family: SFProDisplay;
  font-size: 15px;
  letter-spacing: 0.12em;
  text-transform: uppercase;
  color: $primary;

  background: $bg;
  @extend %border;
}


