.main {
  text-align: left;
}

.promo {
  display: flex;
  justify-content: space-between;

  padding-bottom: 50px;
}








.showBtn {
  width: 250px;
  height: 50px;
}



.banner {
  display: flex;
  justify-content: space-between;

  width: 100%;

 background-color: #1C62CD;
}

.bannerUtv {
  transform: rotateY(180deg);
}


