@import "../../../sass/abstracts/vars";
@import "../../../sass/abstracts/mixs";

.social__list{
    display: flex;
    margin: 80px 10px 80px 100px;
    @include media(850px) {
        margin: 80px 10px 80px 0;
    }
}
.social__item{
    padding-right: 30px;
}