@import './../../../../sass/abstracts/vars.scss';

.table {
  position: relative;

  padding-bottom: 70px;

  width: 100%;

  border-collapse: collapse;


}

.tr {

  border-bottom: 1px solid rgba($primary,.1);

}

 td, th {
padding: 20px 0 20px 40px;

 }