

.catalog {
  display: grid;
  justify-content: center;
  align-items: center;
  gap: 30px;
  grid-template-columns: repeat(auto-fill, 370px);
  // grid-template-columns: minmax(auto, 1fr);

  margin-bottom: 80px;
}




