.link {
  display: inline-block;

  padding: 10px 0;

  font-family: SFProDisplay;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
  text-decoration: none;
  white-space: nowrap;
  color: #2F3035;
  border-bottom: 3px solid transparent;

  transform: all .2s linear;

  & + & {
    margin-left: 10px;
  }

}

.link:hover {
  text-shadow: 0 0 .65px #333, 0 0 .65px #333;
  color: #2F3035;

  border-bottom: 3px solid #1C62CD;
}