@import './../../sass/abstracts/vars.scss';

.breadcrumb {
 display: flex;
}

.item {
  margin-right: 15px;

  font-family: SF Pro Display;
  font-size: 15px;
  color: $lightText;
  list-style: none;
}

.link{
  font-family: SF Pro Display;
  font-size: 15px;
  color: $lightText;
  text-decoration: none;
}






