.wrapperHead {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 20px;
}
.selectParam {
    display: flex;
    
}

.items {

    /* styling */
    background-color: white;
    border: 1.5px solid #D7D9DF;
    display: inline-block;
    padding: 0.5em 3.5em 0.5em 1em;
  
    /* reset */
  
    margin: 0;      
    margin-right: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
  }
  .items {
    background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%);
    
  background-position:
    calc(97% - 20px) calc(0.8em + 2px),
    calc(97% - 15px) calc(0.8em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;

}
.content {
    display: flex;
    justify-content: space-between;
}
.list {
    display: flex;
    align-items: center;
}
.filter {
    height: 100vh;
    width: 100%;
    background-color: gray;
}
.card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
    justify-items: end;
}
.pagination {
  margin-top: 70px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
}