.header {
  width: 100%;
  padding-bottom: 25px;
  padding-top: 30px;
  display: grid;
  grid-template-columns: 1fr 270px 1fr;
}
.headerMenu {
  align-self: center;
}
.headerLogo {
  justify-self: center;
}
.headerList {
  display: flex;
  justify-content: space-between;
  list-style: none;

  padding: 0;
  margin: 0;
}
.headerNav {
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.headerAdress {
  font-style: normal;
  padding: 0;
  margin: 0;
  align-self: center;
}
.headerIcons {
  display: flex;
  list-style: none;
}
.headerIcon:nth-child(2) {
  padding-left: 10px;
}
.headerIcon:last-child {
  padding-left: 10px;
}





