.card {
  position: relative;

  width: 270px;
  height: 400px;

  border: 2px solid black;

}
.look {
  display: none;
  position: absolute;
}

.card:hover .Look {
  display: block;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  }






