@import './../../sass/abstracts/vars.scss';

.card {
  display: flex;
  flex-direction: column;

  position: relative;

  padding: 20px;

  width: 270px;
  height: 400px;

  border: 1px solid #CDCDCD;
  border-radius: $br;

  &:hover {
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }

  &:hover .look {
    display: block;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
  }
}

.title {
  font-family: SFProDisplay;
  font-weight: 400;
  font-size: 18px;
  text-align: center;
  color: $primary;
}

.priceNone {
  font-family: SFProDisplay;
  font-weight: bold;
  font-size: 18px;
  text-align: center;

  color: $primary;
}

.report {
  font-family: SFProDisplay;
  font-size: 16px;
  color: $accent;
  text-decoration: underline;

  border: none;
  background-color: transparent;
}

.look {
  display: none;

  position: absolute;

  padding: 20px;


  width: 230px;
  height: 61px;

  font-family: SFProDisplay;
  font-size: 20px;
  text-align: center;
  color: $primary;

  background: #FFFFFF;
  opacity: 0.9;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
  border-radius: $br;
}

.btn {
  position: absolute;

  bottom: 0;
  right: 0;

  width: 60px;
  height: 40px;


  background: $accent;
  border-radius: 10px 0px 0px 0px;
  border: none;
}