@import './../../../sass/abstracts/mixs.scss';

.mobile {
  display: block;
  display: none;

  padding: 45px 10px 10px 75px;

  min-height: 100vh;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 20;

  // background: #ffffff;

  // transform: translateX(-100%)
}

.item {
  position: relative;
  padding-bottom: 25px;

  font-size: 20px;
}

.itemAdress {
  @extend %sfp;
  font-size: 20px;
}

.img {
  position: absolute;
  left: -45px;
  top: 7px;

  width: 30px;
  height: 25px;
}