.cardMenu {
  width: 100%;
  background-color: #F0F0F4;
}

.cardMenulist {
  display: flex;
  justify-content: space-between;
  list-style: none;

  padding: 0;
  margin: 0;
}

.cardMenuItem {
  padding: 10px;
  margin: 10px;
}





