.link {
  display: inline-block;
  padding: 10px 0;
  margin: 0 10px;
  font-family: SFProDisplay;
  font-weight: 700;
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
  color: #2F3035;
}

