@import './../../../sass/abstracts/mixs.scss';
@import './../../../sass/abstracts/vars.scss';

.title {
  position: absolute;
  top: 20%;
  left: 50%;

  width: 35%;

  z-index: 1;

  color: #000000;

  font-size: clamp(16px, 5vw, 48px);

  line-height: 1;
  letter-spacing: 0.1px;
  text-align: center;

  @include media (xl) {
    left: 57%;
  }

}


.img {

  // height: 100%;


  @include media (md) {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.sliderWrapper {
  position: relative;

  width: 74%;

  @include media (xl) {
    width: 70%;
  }

  @include media (md) {
    width: 100%;
  }

  // width: clamp(50%, 10vw, 74%);
  // flex-grow: 1;

  :global(.swiper-container-horizontal>.swiper-pagination-bullets) {
    bottom: 40px;

    @include media (sm) {
      bottom: 20px;
    }

  }

  :global(.swiper-pagination-bullet) {
    width: 11px;
    height: 11px;
    border: 1px solid #ffffff;
    background-color: transparent;
    opacity: 1;

  }

  :global(.swiper-pagination-bullet-active) {
    background-color: #ffffff;
    border: 1px solid #ffffff;

  }

  :global(.swiper-button-next) {
    color: #ffffff;
    transform: scale(0.8);

    @include media (xs) {
      display: none;
    }



  }

  :global(.swiper-button-prev) {
    color: #ffffff;
    transform: scale(0.8);

    @include media (xs) {
      display: none;
    }

  }

}