@import './../../../../sass/abstracts/mixs.scss';
@import './../../../../sass/abstracts/vars.scss';


.card {
  display: flex;

  width: 370px;
  height: 130px;

  padding: 19px;

  color: $primary;
  background: #FFFFFF;
  border: 1px solid $borderColor;
  border-radius: $br;

  transition: all .2s linear;

  &:hover {
    color: $accent;
    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);
  }
}

.wrapContent {
  @include flex(column, flex-start);
  margin-right: 40px;
}


.caption {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 23px;
}



.more {
  font-family: SFProDisplay;
  font-size: 14px;
  color: $lightText;

  cursor: pointer;
}
.wrapImg {
  margin: 0 auto;
}

// .img {
//   width: 60%;
// }
