@import './../../../../sass/abstracts/vars.scss';

.card {
  display: flex;
  justify-content: flex-start;

  width: 370px;
  height: 130px;

  padding: 20px;

  color: $primary;
  background: #FFFFFF;
  border: 1px solid $borderColor;
  box-sizing: border-box;
  border-radius: $br;

  transition: all  .2s linear;

  &:hover {
    color: $accent;

    box-shadow: 3px 3px 20px rgba(50, 50, 50, 0.25);

  }
}

.wrapContent {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 40px;
}


.caption {
  font-family: 'Barlow', sans-serif;
  font-weight: 700;
  font-size: 23px;
  letter-spacing: 1.2px;
}



.more {
  font-family: SFProDisplay;
  font-size: 14px;
  color: $lightText;

  cursor: pointer;
}

.img {
  align-self: center;
}