@import './sass/abstracts/vars.scss';
@import './sass/fonts.scss';



*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
}

.App {
  font-size: 10px;
  color: $primary;
  line-height: 1.2;
  font-family: ProximaNova;

  background-color: #ffffff;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  max-width: 1200px;
  // width: 100%;
}


