*{
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

.App {
  font-family: SF Pro Display, sans-serif;
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  max-width: 1170px;
  width: 100%;
}


