@import './../../../sass/abstracts/vars.scss';
@import './../../../sass/abstracts/mixs.scss';

.banner {
  @include flex();

  position: relative;

  padding: 25px 120px 30px 70px;
  margin-bottom: 75px;

  background: $accent;

  @include media (xl) {
    flex-direction: column;

    min-height: 180px;
    
    padding: 25px;
  }


}


.utv {
  transform: rotateY(180deg);
  @include media (xl) {
    position: absolute;
    right: 20px;
    top: 60px
  }
}

.atv {
  @include media (xl) {
    position: absolute;
   left: 20px;
    top: 60px
  }

}

.title {
  padding-left: 20px;

  max-width: 305px;

  @extend %sfp;
  font-size: 36px;
  line-height: 1;
  color: #FFFFFF;

  @include media (xl) {
    max-width: unset;

    padding-bottom: 20px;

    font-size: clamp(16px, 4vw, 36px);
  }


}

.btn {
  width: 285px;
  height: 55px;

  font-family: SFProDisplay;
  font-weight: 500;
  font-size: 24px;
  line-height: 2;
  color: $primary;
  text-transform: uppercase;

  background-color: #FFFFFF;
  @extend %border;

  transition: all .2s linear;

  &:hover {
    box-shadow: 3px 5px 20px rgba(28, 28, 28, 0.25);
    background-color: #e6e6f1;
  }

  &:active {
    background-color: #a5c1eb;
  }

  @include media (xl) {
        font-size: clamp(16px, 4vw, 24px);
  }

}