.more {
    font-size: 14px;
    font-family: SFProDisplay;
    font-weight: 400;
    text-decoration-line: underline;
    line-height: 17px;
    color: #1C62CD;
    display: block;
    margin-bottom: 45px;
    -moz-text-decoration-line: underline;
}