@import './../../../sass/abstracts/vars.scss';
@import './../../../sass/abstracts/mixs.scss';


.promoCard {
  @include flex (column, center);

  position: relative;

  width: 265px;
  height: 400px;

  color: $primary;
  border: 1px solid #CDCDCD;
  border-radius: $br;
  text-align: center;
}

.wrapPrice {
  padding: 5px;
  align-self: flex-end;
  text-align: right;
}

.mark {
  position: absolute;
  top: 0;
  left: 0;

  padding: 8px 10px;

  font-family: Proxima Nova;
  font-size: 12px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 2;

  background-color: $accent;
}

.priceOld {
  display: block;
   position: relative;

  font-family: Barlow;
  font-size: 14px;
  color: $lightText;

  &::before {
    content: "";

    position: absolute;
    width: 60px;
    top: 8px;
    left: 40px;

    border: 0.5px solid #C4C4C4;
    transform: rotate(-5.33deg);

  }
}

.ruble {
  width: 8px;
}

.titleCard {
  font-family: SFProDisplay;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
}

.wrapValidity {
  padding: 10px;
  height: 25%;
  width: 100%;
  background: #F0F0F4;
  border-radius: $br;

}

.validity {
  display: block;



  font-family: SFProDisplay;
  font-size: 18px;
  text-align: center;


}

.data {
  font-family: Barlow;
  font-weight: bold;
  color: $accent;
}